<div ng-repeat="ev in event">

        <div style="min-height:100%;">
            <div style="background-color:#4c4c4c;">
              <div class="col-md-12 project_description">
                  <div class="col-sm-6">
                      <h1 class="project-title"><a href="#!/pastEventDetails" ng-click="selectOne(ev, ev._id)">{{ ev.title}}</a></h1>
                      <h3>Dia {{ev.startDate | date:"dd/mm/yyyy '|'h'H'" }}</h3>
                      <p>{{ ev.description }}</p>
                  </div>
              </div>
           <div  ng-repeat="sponsors in ev.sponsors">
           <h3 class=" pull-left col-md-6">{{sponsors.name}}</h3>
      </div>
           </div>
        </div>
</div>

      


        <div ng-repeat="ev in event">
            <div class="item col-md-3"><a data-toggle="modal" data-target="#modal-{{ev._id}}" href=""><img ng-src="{{ev.imageUrl[0]}}"></a></div>
</div>


<div style="margin:0px; padding:0px; background-color:#EFEFEF;">
<div class="minor-content"><!--because portfolio section has a lot of nested columns is naturally smaller, so, here, the padding is bigger to satr the same-->
  <section id="About-anchor" class="about-us"> 
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12">
              <h2 class="description-title">Sobre</h2>
              <article>
                <p class="description-lar wow zoomIn" data-wow-delay="0.2s">O Lar São Vicente de Paula é uma Instituição pertencente à comunidade de Novo Hamburgo, que abriga em regime integral, 49 idosos carente de nossa cidade, exercendo um papel social fundamental na vida destes Vovôs e Vovós.<br>Proporcionamos um ambiente saudável e acolhedor, com serviços de psicologia, nutrição, alimentação, médico, enfermagem 24 horas, lazer, medicação, roupas, fraldas, calçados e tudo o mais que se faz necessário.<br> </p>
              </article>
          </div>
         <div class="col-md-6 hidden-xs hidden-sm">
              <div class="image-post  wow zoomIn" data-wow-delay="0.2s">
              <img src="img/About.jpg" alt="">
            </div>
          </div>
      </div>
    </div>
  </section>
  </div>
  </div>
<section class="container-fluid minor-content">

<div class="col-md-6 col-sm-6 col-xs-6 ">
<div style="margin-top:8%; margin-bottom: 3%;"><h2 class="description-title">Contato</h2></div>
<div><h3 class="description-lar" style="color:black; margin-bottom: 3%;"> R Barão de Cambaí, 180 - Primavera, Novo Hamburgo - RS<br> Telefone: (51)3595-8181</h3></div>
            <form action="emailSend.php" onsubmit="return submitForm();" method="post" name="contactform" class="contact-form wow zoomIn" data-wow-delay="0.6s" id="contact-form">

              <div class="col-md-12" style="padding:0px;">
                  <input placeholder="Name" class="input-field" name="name" required type="text">
              </div>

              <div class="col-md-12" style="padding:0px;">
                   <input placeholder="E-mail" class="input-field" name="email" required type="email"> 
                </div>
             <div class="col-md-12" style="padding:0px;">
               <textarea placeholder="Message" class="input-field" name="message"></textarea> 
               <input value="Enviar" class="input-send submit margin-button" required type="submit" name="submit">
             </div>
            <div class="col-md-12 col-sm-12 send no-show "><button class=" send-contact-form-button btn btn-sucess margin-button"><h4>Mensagem enviada com sucesso!</h4></button></div>
   </div>       
        </form> 
       </div>
       <div class="col-md-6" style="margin-top:11%;">
       <img class="map-image" src="img/map.png"> <!--due to data package of the user, google maps plugin is not used in mobile, is just a picture instead-->
      </div>
</section>




<!-- Modal -->
<div ng-repeat="ev in event">
<div class="modal fade" id="modal-{{ev._id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
               
        <div style="min-height:100%;">
            <div style="background-color:#4c4c4c;">
            <div class="col-md-12 project_description">
                <div class="col-sm-6">
                    <h1 class="project-title">{{ ev.title  }}</h1>
                    <h3>Dia {{ev.startDate | date:"dd/mm/yyyy '|'h'H'" }}</h3>
                    <p>{{ ev.description }}</p>

                </div>
                <div class="col-sm-6">
                      <img ng-src="{{ev.imageUrl[0]}}" alt="" class="resp-img">
                </div>
            </div>
             <div class="container-fluid">
                <div ng-repeat="image in ev.imageUrl">
                    <div class="col-xs-12 col-md-6 col-sm-6">
                      <div class="item-inner">
                         <div class="rig-cell item wow zoomIn" data-wow-delay="0.4s">
                            <div class="item-drid-size-mobile"></div>
                            <img ng-src="{{image}}" alt="" class="resp-img">
                          </div>
                    </div>
                  </div>
                </div>
              </div>
           </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>


